/* Plugin CSS */

/* This element will always be 100% of its slider container */
.east-track{
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
}

.east-slide {
  position: absolute;
  background:#D0007A;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 100px;
  font-family: sans-serif;
  border: 5px solid white;
  transition: all .25s;
  transform: translateX(-200%);
}

.east-slide.east--next + .east-slide {
  transform: translateX(200%);
}

.east-slide.east--prev {
  z-index: 10;
  transform: translateX(-100%);
}
.east-slide.east--current {
  z-index: 10;
  transform: translateX(0);
}
.east-slide.east--next {
  z-index: 10;
  transform: translateX(100%);
}

